/* ---CONFIGURAÇÕES RESPONSIVIDADE ---*/
/* --------------------------- */
@media screen and (min-width: 768px)
{
    .container{
    display: flex;
    flex-direction: row;
    height: 60vh;
    width: 80vw;
    position: relative;
    box-shadow: 0px 0px 10px #00000080;
}
    
    #login{
        display: flex;
        height: 100%;
        width: 60%;
        border-radius: 0px 15px 15px 0px;
        justify-content: center;

    }
    #imagem{
        display: flex;
        height: 100%;
        width: 40%;
        border-radius: 15px 0px 0px 15px;

    }
    #imagem img{
        border-radius: 15px 0px 0px 15px;

    }

}
@media screen and (min-width:1000px){
    .container{
        max-width: 1000px;
        flex-direction: row-reverse;
    }
    #imagem{
        display: flex;
        border-radius: 0px 15px 15px 0px;
    }
    #imagem img{
        border-radius: 0px 15px 15px 0px;

    }
    #login{
        display: flex;
        border-radius: 15px 0px 0px 15px;
    }

    
}
