/* ---CONFIGURAÇÕES RESPONSIVIDADE ---*/
/* --------------------------- */
@media screen and (min-width: 768px) {
    .container {
        display: flex;
        flex-direction: row;
        height: 60vh;
        width: 80vw;
        position: relative;
        box-shadow: 0px 0px 10px #00000080;
    }

    #login {
        display: flex;
        height: 100%;
        width: 60%;
        justify-content: center;
    }

    #imagem {
        display: flex;
        height: 100%;
        width: 40%;
    }
    h1{
        font-size: 3.5vw;
    }

}

/* ---CONFIGURAÇÕES RESPONSIVIDADE ---*/
/* --- GRANDES TELAS ---*/
@media screen and (min-width:1000px) {
    .container {
        max-width: 1000px;
        flex-direction: row-reverse;
    }
}