/* --------------------------- */
/* ---CONFIGURAÇÕES GERAIS ---*/
/* --------------------------- */
@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

main {
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(#808486, #353232);
    background-repeat: no-repeat;
}

/* --------------------------- */
/* ---CONFIGURAÇÕES PAGINA PRINCIPAL ---*/
/* --------------------------- */
.container {
    display: flex;
    flex-direction: column;
    background-color: #1A1E20;
    height: 80vh;
    width: 60vw;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    box-shadow: 0px 0px 10px #00000080;
}

/* ---- PAGINA DE LOGIN ---- */
#login {
    display: flex;
    flex-direction: column;
    height: 60%;
    justify-content: center;
}

h1 {
    text-align: center;
    font-size: 4.5vw;
    color: white;
    text-shadow: 1px 1px 3px black;
    
}

p {
    text-align: center;
    color: #797777;

}

/* ---- FORMULÁRIO ---- */
form {
    margin: 0 auto;
    margin-top: 10px;
}

#idsenha,
#idemail {
    height: 22px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: #7C8083;
    color: black;
    text-indent: 10px;
}

#email,
#senha {
    border: 1px solid black;
    transform: translateY(7px);
    border-radius: 10px;
    background-color: #7C8083;
}

#entrar {
    display: block;
    margin: auto;
    margin-top: 10px;
    width: 100%;
    height: 30px;
    border-radius: 10px;
    border: 1px solid black;
}

input::placeholder {
    text-indent: 10px;
    color: black;
}

#entrar:hover {
    cursor: pointer;
    background-color: #797777;
    color: white;
    text-shadow: 1px 1px 1px black;
}

#idemail:hover,
#idsenha:hover {
    background-color: white;
    color: black;
}

/* --------------------------------- */
/* --- IMAGEM --- */
#imagem {
    display: flex;
    box-sizing: border-box;
    height: 40%;
    border-radius: 15px;
    padding: 5px;

}

#imagem img {
    height: 100%;
    width: 100%;
    border-radius: 15px;

}